<!DOCTYPE html>
<html>
    <body>
        <p>This event has been deleted</p>
        <p>You have been invited by <%= @creator %> to an event called: <%= @title %> </p>
        <%= @description %>
        <p>this event is scheduled for: <%= @date_time %></p>

    </body>
</html>