<!DOCTYPE html>
<html>
    <body>
        <p>You have been invited to an event called: <%= @title %> </p>
        <%= @description %>
        <p>this event is scheduled for: <%= @date_time %></p>

    </body>
</html>