<!DOCTYPE html>
<html>
    <body>
        <p>this is a reminder of the event that you have scheduled: <%= @title %> </p>
        <%= @description %>
        <p>this event is scheduled for: <%= @date_time %> </p>
    </body>
</html>